* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* Header & Menu Styles */

.header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    font-size: 24px;
    font-weight: bold;
}

.header .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu-item ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu-item ul li {
    margin-right: 20px;
    list-style-type: none;
}

.header .menu-item ul li a {
    text-decoration: none;
    color: black;
}

.header .menu-item .menu-icon .custom-css {
    margin-right: 20px;
}

/* Section Top Styling */


.section-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.section-wrapper .section-left {
    margin-top: 20px;
    width: 500px;
}

.section-wrapper .section-left h1 {
    font-size: 52px;
}

.section-wrapper .section-left p {
    margin: 20px 0;
    font-size: 16px;
}

.section-wrapper .section-left .continue-reading {
    text-decoration: none;
    width: 196px;
    height: 44px;
    padding: 8px 10px;
    background-color: #e02c6d;
    color: #ffffff;
    border-radius: 20px;
    font-size: 16px;
}